/* @VARIABLES */
/* ********** */

/* TAMAÑOS */
$breakpoints:(
    smartphone: 320px,
    ipad: 768px,
    desktop: 1100px
);
$dispositivos: (
    smartphone: 360px,
    ipad: 768px,
    desktop: 1366px
);
/* COLORES */

$colores: (
    beige: #FFE6D1,
    blanco: #F8F6EE,
    gris: #C4C4C4,
    naranja: #F2624A
);
